*{
    margin: 0px;
    padding: 0px;
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding:20px;
    
}
body{
    background-image: url("imageGrey.png");
    font-family: Helvetica;
    
}
/* body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9); 
    z-index: -1; 
} */

nav a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 13pt;
    margin: auto;
    
}
.visited {
    color: #FDB927;
}
nav ul li:hover{
    background-color: #FDB927;
}
nav{
    background-color: #552583;
    width: 100%;
    text-align: center;
}