.container {
    width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3rem;
}
header {
    text-align: center;
    color: white;
    font-size: xx-large;
    margin-bottom: 2rem;
    font-weight: bold;
    margin-top: 20px;
}
.container-sosmed {
    width: 75%;
    margin: auto;
    margin-bottom: 3rem;
}

.sosmed-card {
    transition: 0.3s;
    width: 100%;
    text-align: left;
    padding: 5px;
}

.sosmed-card .body {
    padding: 5px;
}
.sosmed-card a{
    text-decoration: none;
}
/* On mouse-over, add a deeper shadow */
.sosmed-card:hover {
    border: 3px solid white;
}

.sosmed-column {
    float: left;
    width: 14.2%;
    padding: 0 5px;
}

@media screen and (max-width: 1280px) {
    .sosmed-column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}